<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contactez-nous</title>
</head>
<body>
    <h1>Contactez-nous</h1>
    <pre>
        Nous serions ravis d'avoir de vos nouvelles ! Pour toute question, demande de renseignements ou collaboration, n'hésitez pas à nous contacter.
        Vous pouvez nous joindre par e-mail à [adresse e-mail] ou par téléphone au [numéro de téléphone].
        Notre équipe est disponible du [jours et heures de disponibilité] pour répondre à vos besoins.
        Vous pouvez également remplir le formulaire de contact sur notre site web à [URL du site web] et nous vous répondrons dans les plus brefs délais.<br>
        Merci de votre intérêt pour [Nom de l'entreprise] !
    </pre>
</body>
</html>